
	/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 75%;
}
#mappron {
  height: 75%;
  top : 6%;
}
#pronostico{
	font-size: 80%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
